<div class="col-lg-3">
    <aside class="js-sidebar">
        <div class="js-sidebar-inner">
            {{> sidebar-search}}
            <div class="sidebar-navigation">
                <ul>
                {{#get "tags" limit="all" include="count.posts" order="description asc" filter="slug:-faq"}}
                {{#foreach tags}}
                    <li id="{{slug}}"><a href="{{url}}">{{name}}</a>
                        {{^has slug="blog"}}
                            <ul>
                                {{#get "posts" filter="tag:{{slug}}" limit="all" order="codeinjection_foot asc"}}
                                    {{#foreach posts visibility="all"}}
                                        <li id="{{comment_id}}" class="post-link"><a href="{{url}}">{{title}}</a></li>
                                    {{/foreach}}
                                {{/get}}
                            </ul>
                        {{/has}}
                    </li>
                {{/foreach}}
                {{/get}}
                </ul>
            </div>
        </div>
    </aside>
</div>
<script>
    {{#is "tag"}}
    document.getElementById("{{tag.slug}}").classList.add('open');
    document.getElementById("{{tag.slug}}").classList.add('current');
    {{/is}}
    {{#is "post"}}
    document.getElementById("{{comment_id}}").classList.add('current');
    document.getElementById("{{comment_id}}").parentElement.parentElement.classList.add('open');
    {{/is}}
</script>