{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<div class="main">
    <section class="section-topic">
        <div class="container">
            <div class="row">
                {{#get "tags" limit="all" include="count.posts" order="published_at asc" filter="slug:blog"}}
                {{#foreach tags}}
                    {{#get "posts" include="authors" filter="tag:{{slug}}+visibility:[public,members,paid]" limit="3" order="published_at desc"}}
                    {{#foreach posts visibility="all"}}
                     <div class="col-lg-4">
                        {{#if feature_image}}
                        <div class="blog-image-wrap">
                            <img src="{{feature_image}}" alt="{{name}}" class="topic-image">
                        </div>
                        {{/if}}
                        <span class="blog-meta"><a href="/topic/blog">Blog</a><br />
                        {{#foreach authors limit="1"}}
                            {{name}}
                        {{/foreach}}
                        </span>
                        <time class="blog-time" datetime="{{date format="YYYY-MM-DD"}}">
                            {{date published_at timeago="true"}} - {{reading_time}}
                        </time>
                        <div class="card-content">
                            <h2 class="h3 topic-name"><a href="{{url}}">{{title}}</a></h2>
                            {{#if excerpt}}
                            <p class="topic-description">
                                {{excerpt}} <a href="{{url}}">...</a>
                            </p>
                            {{/if}}
                        </div>
                    </div>
                    {{/foreach}}
                    {{/get}}
                {{/foreach}}
                {{/get}}
            </div>
        </div>
    </section>
    <!-- FAQ section -->
    <!-- section class="section-faq"--we dont need faq on the home site>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 col-sm-12">
                    <h2 class="section-title text-center">{{t "FAQ"}}</h2>
                    <div class="faq-wrap">
                        {{#get "posts" filter="tag:faq" limit="5" order="published_at asc"}}
                        {{#foreach posts visibility="all"}}
                        <div class="faq-item">
                            <a href="{{url}}">{{title}} {{>icons/chevron-right}}</a>
                        </div>
                        {{/foreach}}
                        {{/get}}
                    </div>
                    <div class="text-center">
                        <a href="{{@site.url}}/faq/" class="btn btn-primary see-all">{{t "See all FAQ"}}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{> contact-cta}}
</div>
