{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<div class="main">
    <div class="container js-main-content-area">
        <div class="row">
            {{> sidebar}}
            <div class="col-lg-9 topic-archive">
                {{#tag}}
                <h1 class="topic-name">{{name}}</h1>
                <!-- <div class="topic-description">
                    {{! description}}
                </div> -->
                {{/tag}}
                <div class="post-list-wrap">
                    {{#tag}}
                        {{#has slug="blog"}}
                            {{#get "posts" filter="tag:{{slug}}" limit="all" order="published_at desc"}}
                                {{#foreach posts visibility="all"}}
                                        <div class="post-card" style="display: flex;">
                                            <div class="post-card-left" style="flex: 20%; padding: 1em;">
                                                <img src="{{img_url feature_image}}">
                                            </div>
                                            <div class="post-card-right" style="flex: 80%;">
                                                <a href="{{url}}">
                                                    <h2 class="post-title h4">
                                                        {{title}}{{> icons/arrow-forward}}
                                                        <br >
                                                        <span style="color: grey; font-size: 0.8em;">{{date published_at format="MMMM DD, YYYY"}}</span>
                                                    </h2>
                                                    <div class="excerpt" style="margin-top: -5px;">
                                                        {{excerpt}}

                                                    </div>
                                                </a>
                                            </div>

                                        </div>
                                {{/foreach}}
                            {{/get}}
                    {{else}}
                        {{#get "posts" filter="tag:{{slug}}" limit="all" order="codeinjection_foot asc"}}
                            {{#foreach posts visibility="all"}}
                                {{log tags}}
                                    <div class="post-card">
                                        <a href="{{url}}">
                                            <h2 class="post-title h4">{{title}}{{> icons/arrow-forward}}</h2>
                                            <div class="excerpt">
                                                {{excerpt}}
                                            </div>
                                        </a>
                                    </div>
                            {{/foreach}}
                        {{/get}}
                    {{/has}}
                    {{/tag}}

                </div>

            </div>
        </div>
    </div>
    {{> contact-cta}}
</div>