<div class="notification notification-subscribe text-center">
    {{t "You've successfully subscribed to"}} {{@site.title}}
</div>
<div class="notification notification-signup text-center">
    {{t "Great! Next, complete checkout for full access to"}} {{@site.title}}
</div>
<div class="notification notification-signin text-center">
    {{t "Welcome back! You've successfully signed in."}}
</div>
<div class="notification notification-signin-failure error text-center">
    {{t "Unable to sign you in. Please try again."}}
</div>
<div class="notification notification-checkout text-center">
    {{t "Success! Your account is fully activated, you now have access to all content."}}
</div>
<div class="notification notification-billing-success text-center">
    {{t "Success! Your billing info is updated."}}
</div>
<div class="notification notification-billing-cancel error text-center">
    {{t "Billing info update failed."}}
</div>